*.pyc
/__pycache__/
.DS_Store
.idea
/static/
logs/
/media/
rewards/settings_local.py
resources/
/app_static/CACHE/
dump.rdb
Procfile
.env
.env__
.env_variables
docker-compose.yml

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*/production/.env
*/production/02_python.config

pg_upgrade_internal.log
pg_upgrade_server.log
pg_upgrade_utility.log

.env
.project_setup
.vscode
Dockerfile
Pipfile
Pipfile.lock
.python-version
docker-compose-python2.yml
base/__pycache__/*
api_test.json
db.sqlite3
deploy.sh
envtest
venv/

